<h1>Welcome to <a href="https://visparcorp.wordpress.com/">Vispar.com</a>!</h1>

<% if (req.session.user) { %>
<a href="/logout">Logout</a>
<% } else { %>
<a href="/login">Login</a> | <a href="/signup">Signup</a> | <a href="/forgetpassword">Forget password?</a>
<% } %>