<% block('localScripts', '<script type="text/javascript" src="js/homepage.js"></script>') %>

<h1>Welcome to <a href="https://visparcorp.wordpress.com/">Vispar.com</a>!</h1>

<% if (req.session.user) { %>
<a href="/logout">Logout</a>
<% } else { %>
<a href="/login">Login</a> | <a href="/signup">Signup</a> | <a href="/forget_password">Forget password?</a>
<% } %>

<% if (req.session.user) { %>

<div class="row">
  <div class="col-sm-6">
    <h3>Create Your Room</h3>
    <form method="post" action="/room" class="form-inline">
      <div class="form-group">
        <input type="text" name="name" class="form-control" placeholder="Room Name" required>
        <input type="hidden" name="owner" value="<%= req.session.user.id %>">
      </div>
      <input value="Create Room" type="submit" class="btn btn-primary">
    </form>
    <h3>Room List</h3>
    <ul id="roomList"></ul>
  </div>
</div>
<% } %>