<h1>Reset Password</h1>
<form action="/resetpassword" method="post">

  <label><%=req.session.email%></label>
  <br/>

  <label for="password">Choose a Password</label>
  <input name="password" type="password"/>
  <br/>

  <input type="hidden" name="resetToken" value="<%=req.session.resetToken%>" />

  <input type="submit"/>
</form>
